@import "../../assets/scss/shared/variables";
@import "../../assets/scss/foundation/util/util";

.filter-container {
  position: relative;

  @include breakpoint(small only) {
    display: none;
  }
}

.place-type-filter {
  position: absolute;
  left: 0.9375rem;
  top: 100%;
  z-index: 500;
  background: transparent;
  font-family: Oxygen, sans-serif;

  &-list {
    list-style: none outside none;
    padding: 15px 0;
    margin: 0;

    li {
      font-size: 14px;
      position: relative;
      background: #FFF;

      &:hover {
        background: #F5F5F5;
      }
    }

    .active {
      background: #f16000;
      color: #FFF;

      &:hover {
        background: lighten(#f16000, 5%);
      }
    }
  }

  input {
    margin-right: 10px;
    position: absolute;
    left: 10px;
    top: 6px;
  }

  label {
    width: 100%;
    padding: 2px 15px 2px 30px;
    display: block;
    cursor: pointer;
  }

  li:first-child {
    padding-top: 10px;

    input {
      top: 16px;
    }
  }

  li:last-child {
    padding-bottom: 10px;
  }

}
