@import "../shared/variables";
@import "../foundation/util/util";

.footer {
  background: #F5F5F5;
  color: lighten(#333, 20%);
  margin-top: 20px;
  border-top: 1px solid darken(#F5F5F5, 20%);

  text-align: center;

  a {
    display: inline-block;
    font-size: 16px;
    font-family: Oxygen, sans-serif;
    font-weight: bold;
  }

  h5:after {
    content: ' -';
    margin-right: 4px;
  }

  h5,
  a {
    display: inline-block;
    margin: 10px 0 2px 0;

    @include breakpoint(small only) {
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .columns {
    text-align: center;
  }

  p {
    margin: 5px 0;
    font-size: 10px;

    a {
      margin: 0;
      font-size: 10px;
    }
  }
}

.iOverlander-feedback {

  label {
    margin: 0 0 10px 0;
    font-weight: bold;
    display: block;
  }

  textarea {
    border: 1px solid #999;
    resize: none;
  }

  button {
    margin-top: 10px;
  }

}
