$primary-orange: #f16000;

input[type=text],
input[type=password],
input[type=email] {
  border-radius: 5px;
  border: 1px solid #CCC;
  padding: 5px;
}

.form-group {

  display: flex;
  flex-wrap: wrap;

  label {
    display: block;
    flex: 1 0 100%;
  }

  input {
    flex: 1;
    border-radius: 5px 0 0 5px;
    border-right-width: 0px;
  }

  input,
  button {
    height: 36px;
    line-height: 36px;
  }

  button {
    color: #FFF;
    background: $primary-orange;
    padding: 0 15px;
    text-transform: lowercase;
    border-radius: 0 2px 2px 0;

    &:hover {
      background: lighten($primary-orange, 5%);
    }
  }

}

.input-form {

  input,
  button {
    display: block;
    width: 100%;
  }

  input + label {
    margin-top: 15px;
  }

  label {
    margin-bottom: 5px;
    display: block;
  }

  button {
    margin-top: 15px;
    text-align: center;
  }

}
