@import "../shared/variables";
@import "../foundation/util/util";

.header {
    background: linear-gradient(to bottom, #232323 0%, #454242 85%, #302e2e 100%);
    margin-top: -15px;
    margin-bottom: 20px;
    position: relative;

    img {
        position: relative;
        top: 15px;
        z-index: 2000;
    }

    a,
    span {
        color: #FFF;
        font-weight: 400;
        text-decoration: none;
    }

    span {
      cursor: pointer;
      position: relative;
      padding-right: 18px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 7px;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #ffffff transparent transparent transparent;
      }
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include clearfix();
      width: 100%;
    }

    li {
      float: left;
      position: relative;
    }

    .columns > ul > li + li {
        margin-left: 20px;

        @include breakpoint(small only) {
          margin-left: 0;
        }
    }

    .flex-header {
        display: flex;
        flex-direction: row;
    }

    .flex-navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 15px;

        @include breakpoint(small only) {
          justify-content: flex-end;
        }
    }

    & &-user {
      float: right;
      color: #FFF;
      cursor: pointer;

      &, a {
        font-weight: 700;
      }

      @include breakpoint(small only) {
        padding: 5px 0;
      }
    }

    li:focus &-submenu,
    li:hover &-submenu {
      display: block;
    }

    & &-submenu {
      position: absolute;
      left : 0;
      top: 100%;
      width: 100%;
      min-width: 200px;
      padding-top: 15px;
      list-style: none outside none;
      z-index: 500;
      display: none;
      margin-top: -10px;

      li {
        display: block;
        width: 100%;
        background: #f16000;
      }

      a {
        width: 100%;
        display: block;
        padding: 5px;
        font-weight: 400;

        &:hover {
          background: lighten(#f16000, 5%);
        }
      }
    }

    .menu-toggle {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMzJweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNCwxMGgyNGMxLjEwNCwwLDItMC44OTYsMi0ycy0wLjg5Ni0yLTItMkg0QzIuODk2LDYsMiw2Ljg5NiwyLDhTMi44OTYsMTAsNCwxMHogTTI4LDE0SDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDIgIHMwLjg5NiwyLDIsMmgyNGMxLjEwNCwwLDItMC44OTYsMi0yUzI5LjEwNCwxNCwyOCwxNHogTTI4LDIySDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDJzMC44OTYsMiwyLDJoMjRjMS4xMDQsMCwyLTAuODk2LDItMiAgUzI5LjEwNCwyMiwyOCwyMnoiIGZpbGw9IiNGRkZGRkYiLz48L3N2Zz4=);
      background-repeat: no-repeat;
      background-position: center center;
      text-indent: 10000px;
      overflow: hidden;
      width: 50px;
      float: right;

      @include breakpoint(medium up) {
        display: none;
      }
    }

    .menu-primary {
      @include breakpoint(small only) {
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background: #302E2E;
        z-index: 1001;
        padding: 10px 15px 0 15px;
        display: none;

        &.open-mobile {
          display: block;
        }

        li {
          width: 100%;
        }

        li > a {
          padding: 5px 0;
          display: block;
        }

        li > span {
          margin: 5px 0;
          display: inline-block;
        }

        li + li {
          margin-left: 0;
        }

        .header-submenu {
          position: relative;

          a {
            padding-left: 15px;
          }
        }
      }
    }
}
