@import "../shared/variables";
@import "../foundation/util/util";

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

#app,
.app-inner {
  flex: 1;
  display: flex;
  flex-direction: column;

  > .is-flex {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: 'Oxygen', sans-serif;
}

h1, .h1 {
  font-size: 3.157rem;

  @include breakpoint(small only) {
    font-size: (3.157rem / 2);
  }
}

h2, .h2 {
  font-size: 2.369rem;

  @include breakpoint(small only) {
    font-size: (2.369rem / 2);
  }
}

h3, .h3 {
  font-size: 1.777rem;

  @include breakpoint(small only) {
    font-size: (1.777rem * 0.75);
  }
}

h4, .h4 {
  font-size: 1.333rem;

  @include breakpoint(small only) {
    font-size: (1.333rem * 0.75);
  }
}

h5, .h5 {
  font-size: 1rem;

  @include breakpoint(small only) {
    font-size: (1rem * 0.75);
  }
}

h6, .h6 {
  font-size: 0.75rem;
}

a {
  color: #428bca;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
