table {
  width: 100%;
  table-layout: fixed;

  thead {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    text-align: left;

    border-bottom: 2px solid darken(#FFF, 25%);
  }

  th,
  td {
    padding: 5px 0;
  }

  tbody tr:nth-child(even) td {
    background: darken(#FFF, 3%);
    border-top: 1px solid darken(#FFF, 10%);
    border-bottom: 1px solid darken(#FFF, 10%);
  }

  td {
    font-weight: 400;
  }

  td:first-child,
  th:first-child {
    padding-left: 5px;
    width: 35%;
  }

  tbody tr:last-child td {
    border-bottom: 1px solid darken(#FFF, 10%);
  }
}
