@import "../../assets/scss/shared/variables";
@import "../../assets/scss/foundation/util/util";

.blogDetails {
  header {
    position: relative;
    margin-bottom: 15px;

    @include breakpoint(small only) {
      padding-left: 15px !important;
    }

    @include breakpoint(medium up) {
      padding-left: 95px;
    }

    img {
      position: absolute;
      left: 15px;
      top: 0;

      @include breakpoint(small only) {
        display: none;
      }
    }

    h2,
    h3 {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    h3 {
      font-weight: 300;
    }
  }

  &-map {
    flex: 1;
    min-height: 250px;
    margin-bottom: -20px;
  }

  &-action-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 15px;

    @include breakpoint(small only) {
      .btn {
        width: 100%;
        display: block;
        text-align: center;
      }

      .btn + .btn {
        margin-top: 10px;
      }
    }
  }
}
