@import "../../assets/scss/shared/variables";
@import "../../assets/scss/foundation/util/util";

.select-place-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint(large up) {
    margin: 0 -10px 0 -10px;
  }

  .place-type {
    flex: 1 0 25%;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    display: flex;

    @include breakpoint(large up) {
      margin: 0 5px 10px 5px;
    }

    @include breakpoint(medium only) {
      flex: 1 0 50%;

      &:nth-child(2n) {
        padding-left: 5px;
      }

      &:nth-child(2n + 1) {
        padding-right: 5px;
      }
    }

    @include breakpoint(small only) {
      flex: 1 0 100%;
      margin: 0 0 10px 0;
    }
  }

  input[type=radio] {
    position: absolute;
    left: -30px;
    top: 30px;
  }

  input:checked + label {
    background: darken(#F0F0F0, 5%);
  }

  label {
    display: block;
    padding: 10px 10px 10px 80px;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 100%;
    cursor: pointer;
    position: relative;

    text-align: left;

    img {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -25px;
      width: 50px;
      height: auto;
    }

    p {
      margin: 5px 0 0 0;
    }
  }
}
