.searchResults {

  .results > div {
    padding-bottom: 20px;
    font-size: 14px;

    &:first-child {
      margin-top: 15px;
    }

    dt,
    dd {
      float: left;
    }

    dt {
      font-weight: bold;
    }

    dd + dt {
      clear: none;
      margin-left: 10px;
    }

    dd {
      margin-left: 5px;
    }

    dl {
      margin: 0;
      font-size: 12px;
    }

    p {
      margin-bottom: 15px;
    }

    a {
      margin-top: 15px;
      display: inline-block;
    }

    .amenity-container:empty + a {
      margin-top: 0;
    }
  }

  .results > div + div {
    padding-top: 20px;
    border-top: 1px solid #CCC;
  }

  &-filters-group {
    padding: 0 0 15px 0;

    & + & {
      margin-top: 15px;
    }

    h5,
    span {
      display: block;
    }

    h5 {
      margin: 0 0 15px 0;
    }
  }

  fieldset {
    padding: 15px;
    border: 1px solid #CCC;
    margin: 0;
  }

  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }

  input[type=checkbox], input[type=radio] {
    margin-right: 10px;
  }

  &-pagination {
    float: right;
    margin-bottom: 15px;

    li {
      float: left;
      margin-right: 5px;
    }

    a, button {
      padding: 5px;
      background: #428bca;
      border: 1px solid darken(#428bca, 5%);
      font-family: Oxygen, sans-serif;
      color: #FFF;
      cursor: pointer;
    }

    .selected a {
      background: #f16000;
      border: 1px solid darken(#f16000, 5%);
    }

    .disabled a {
      cursor: not-allowed;
      background: darken(#428bca, 10%);
      color: #CCC;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .results h5 a {
    margin-top: 0;
  }

}
