.blogDetails {
  header {
    position: relative;
    padding-left: 95px;
    margin-bottom: 15px;

    img {
      position: absolute;
      left: 15px;
      top: 0;
    }

    h2,
    h3 {
      margin: 0;
    }

    h3 {
      font-weight: 300;
    }
  }

  &-map {
    flex: 1;
  }

  &-action-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
  }

}

.flash-message {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-weight: bold;
  color: #f16000;
  background: lighten(#f16000, 50%);
  border: 1px solid #f16000;
  margin-bottom: 15px;
}
